@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
    background-color: rgb(236, 92, 26);
}

.searchbar input {
    font-size: 17px;
    padding: 8px 60px;
    border: none;
    border-radius: 5px 0 0 5px;
}
.searchbar button {
    font-size: 17px;
    padding: 8px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.logo {
    color: white;
    
    font-weight: bold;
    font-family: 'Monoton', cursive;
}

.navbar-nav {
    display: flex;
}
.navlist {
    padding: 0 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}