.countries-container {
    display: flex;
}
.title {
    text-align: center;
    margin-bottom: 0;
}
.hr {
    width: 400px;
    margin-bottom: 30px;
}
.info-box .region-title{
    text-align: center;
}
.box {
    padding: 10px 20px;
    margin: 20px 10px;
    border: 1px solid #9c9c9c;
}
.link {
    text-decoration: none;
    
}